@use '../../../styles/tokens' as *;

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skeleton {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: $r-md;
  
  background: linear-gradient(
    90deg,
    $card 0%,
    $card-2 50%,
    $card 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s ease-in-out infinite;
  
  &.circle {
    border-radius: 50%;
  }
}
