@use '../styles/theme';
@use './tokens' as *;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background: $bg;
  color: $text;
  font-family: $font-sans;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font-family: inherit;
}

:root {
  -webkit-tap-highlight-color: transparent;
}
